body {
    text-align: center;
    background-image: url('https://i.redd.it/e1569zmb7t161.png');
    height: 100vh;
    overflow: hidden;
  }
    #accordion{
      margin: 100px auto;
      max-width: 500px;
      text-align: center;
  }
  #card{
    margin: 1px auto;
    width: 200px;
    text-align: center;
    background-color: black;
    }
  body {
    color: white
    }
    .accordion-button-collapsed,.accordion-body,.accordion-button,.accordion-collapse,.headingTwo,.collapseTwo{
        background-image: url('https://i.redd.it/e1569zmb7t161.png');
    }
    .container {
      text-align: left;
    }
    svg {
      margin-right: 10px;
    }